/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.marquee:hover {
  -webkit-animation: scroll 7s linear 0s infinite;
  animation: scroll 7s linear 0s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
