.google-btn {
  width: 200px;
  height: 44px;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 4px;
  cursor: pointer;
}

.google-btn:hover {
  background-color: rgba(66, 133, 244, 0.6);
  transition: 0.5s;
}

.google-icon-wrapper {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Inter";
  font-weight: bold;
}